<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Nouveau message de contact
    </title>
  </head>
  <body>
    <h1>
      Nouveau message de contact
    </h1>
    <b>Nom/Prénom :</b>{{ $name }}<br />
    <b>Email :</b>{{ $email }}<br />
    <b>Téléphone :</b>{{ $phone }}<br />
    <b>Message :</b>{{ $message }}
  </body>
</html>
